@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
}

header h1{
    font-size: 6em;
    margin: 0px;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

#bg-flor{
    height: 600px;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#bg-flor p{
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    width: 400px;
}

#bg-livro{
    height: 600px;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#bg-livro p{
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}